.bg-primary {
  background-image: none;
  background-color:#337764 !important;
  color:#eeeeee;
  border-color:#e7e7e7;
}
.navbar .navbar-brand{
color:#eee
}
.navbar .navbar-text{
color:#eee
}
.navbar .navbar-nav>li>a{
color:#eee
}
.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:active {
color:#337764
}


.html {
  font-family: Helvetica, sans-serif;
}


.h1,h1{
margin-top:60px;margin-bottom:10px
}

.h2,h2{
margin-top:40px;margin-bottom:10px
}

.h3,h3{
margin-top:20px;margin-bottom:10px
}

.h4,h4{
margin-top:20px;margin-bottom:10px
}

ul ul, ol ul {
  text-indent: 10px;
}

.bs-sidebar {
  font-size: small;
  line-height: 1.1;
}

.nav>li>a:hover, .nav>li>a:active {
    text-decoration: none;
    border: 1px solid;
}

.bs-sidebar .nav > li > a.nav-link {
  color:#337764
}

.bs-sidebar .nav > li > a.nav-link.active {
    font-weight: bold;
    color:#ffffff;
    background-color:#337764;
    border: 1px solid;
}
